.container{

    width:100%;
    height:100vh;

    display:flex;

}

/* ===========================
   IMAGEN
=========================== */

.left{

    width:50%;
    overflow:hidden;

}

.left img{

    width:100%;
    height:100%;
    object-fit:cover;

}

/* ===========================
   FORMULARIO
=========================== */

.right{

    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;

    background:white;

}

.login-box{

    width:420px;

}

.login-box h1{

    font-size:40px;
    margin-bottom:10px;

}

.subtitle{

    color:#666;
    margin-bottom:40px;

}

.input-group{

    display:flex;
    flex-direction:column;

    margin-bottom:22px;

}

.input-group label{

    font-weight:600;
    margin-bottom:8px;

}

.input-group input{

    padding:15px;

    border:1px solid #ddd;

    border-radius:10px;

    transition:.25s;

}

.input-group input:focus{

    border-color:var(--primary);

}

button{

    width:100%;

    padding:15px;

    border-radius:10px;

    background:var(--primary);

    color:white;

    font-size:16px;

    font-weight:bold;

    margin-top:10px;

}

button:hover{

    background:var(--primary-hover);

}

.link{

    margin-top:25px;

    text-align:center;

}

.link a{

    color:var(--primary);

    font-weight:bold;

}

/* ===========================
   RESPONSIVE
=========================== */

@media(max-width:900px){

    .left{

        display:none;

    }

    .right{

        width:100%;

    }

    .login-box{

        width:90%;

    }

}